body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}
body:not(.loaded)::after {
    content: "";
    color: #fff;
    margin: 8px;
    font-size: 22px;
    font-family: sans-serif;
    user-select: none;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: black;
    padding: 8px;
}
@keyframes loading {
    0% {content:   "Loading.";}
    25% {content:  "Loading.";}
    50% {content:  "Loading..";}
    75% {content:  "Loading...";}
    100% {content: "Loading...";}
}
canvas {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    touch-action: none;
    margin: 0;
    image-rendering: pixelated;
}
canvas.full-size {
    /* width: 100%; */
    /* height: 100%; */
}
