body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}
body:not(.loaded)::after {
    content: "";
    color: #fff;
    margin: 6px;
    font-size: 22px;
    font-family: sans-serif;
    user-select: none;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: black;
    padding: 6px;
}
@keyframes loading {
    0% {content:   "Loading...";}

    24% {content:  "Loading...";}
    25% {content:  "Loading.";}

    49% {content:  "Loading.";}
    50% {content:  "Loading..";}

    74%{content:  "Loading..";}
    75% {content:  "Loading...";}

    100% {content: "Loading...";}
}

canvas {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    touch-action: none;
    margin: 0;
    image-rendering: pixelated;
}
canvas.full-size {
    width: 100%;
    height: 100%;
}

div.interface-container {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}
div.interface {
    position: fixed;
    box-sizing: border-box;
    background-color: hsla(0, 0%, 95%, 1);
    font-family: sans-serif;
    padding: 8px;
    user-select: none;
    cursor: default;
}
div.center {
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
